.catalog__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 202px;
  padding-bottom: 25px;

  @media (max-width: $tablet-width) {
    max-width: 616px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 53px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 5px;
  }
}

.catalog h2 {
  position: relative;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  width: 358px;
  color: $dark;
  margin: 0;
  padding-bottom: 48px;
  letter-spacing: -1.25px;

  @media (max-width: $tablet-width) {
    width: auto;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: normal;
    padding-bottom: 5px;
  }

  @media (max-width: $mobile-width) {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 4px;
  }
}

.catalog h2::before {
  content: "";
  display: block;
  position: absolute;
  width: 229px;
  height: 4px;
  background: $basic;
  bottom: 15px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.catalog p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(44, 46, 63, 0.7);
  width: 345px;
  letter-spacing: -0.47px;

  @media (max-width: $tablet-width) {
    width: auto;
  }
}

.catalog__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 54px 0 0;
  justify-content: center;

  @media (max-width: $tablet-width) {
    margin: 39px 0 0;
  }

  @media (max-width: $mobile-width) {
    margin: 20px 0 0;
  }
}

.catalog__item {
  padding-right: 60px;
  margin-bottom: 100px;
  position: relative;

  @media (max-width: $tablet-width) {
    padding-right: 40px;
    margin-bottom: 41px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
    margin-bottom: 35px;
  }
}

.catalog__item:nth-child(2n + 2) {
  @media (max-width: $tablet-width) {
    padding-right: 0;
  }
}

.catalog__item:nth-child(3n + 3) {
  padding-right: 0;

  @media (max-width: $tablet-width) {
    padding-right: 40px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.catalog__item:last-child {
  padding-right: 0;
}

.catalog__item:nth-child(4) {
  padding-right: 120px;

  @media (max-width: $tablet-width) {
    padding-right: 0;
  }
}

.catalog__link {
  text-decoration: none;
  display: flex;
  position: relative;
  justify-content: center;
  max-height: 430px;

  @media (max-width: $tablet-width) {
    max-height: 425px;
  }
}

.catalog__watch {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  background: rgba(20, 21, 23, 0.6);
  top: 0;
}

.catalog__link:hover .catalog__watch {
  display: flex;
}

.catalog__item p {
  width: 215px;
  height: 61px;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.41px;
  position: absolute;
  background: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

// .catalog__item:first-child p {
//   height: 63px;
// }

.catalog__watch p {
  width: auto;
  height: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  background: none;
  color: #ffffff;
  padding: 30px 25px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  bottom: auto;
}

.catalog__link img {
  @media (max-width: $tablet-width) {
    height: 425px;
    width: 288px;
  }
}
